.bankContainer {
    width: 100%;
    min-height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.bankName {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.bank {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.bank>* {
    justify-self: center;
}