.Footer {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.Button {
    border-radius: 100%;
    outline: 1px solid white;
}

div:has(>.dialog) {
    background-color: #1e1f22;
    border-radius: 15px;
}

.dialog {
    width: 30rem;
    height: fit-content;
    max-width: 80dvw;
    max-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 0 1.5rem 0;
}

.form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.25rem;
}

.campo {
    position: relative;
    width: 80%;
    height: 2rem;
    margin-bottom: 1rem;
    color: #D9D9D9;
}

.campo.checkParent {
    margin-bottom: 2rem;
}

.checkGroup {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.checkGroup>div {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.dialog ::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.botoes {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.botao {
    width: 25%;
    border-radius: 8px;
    padding: 0.25rem;
    border: 0;
}

.cancelar {
    background-color: transparent;
    border: 1px solid #D6D6D6;
    color: #D9D9D9;
}

.cadastrar {
    background-color: #D6D6D6;
    color: black;
}